.studentImg{
  width: 100px;
  height: 100px;
  justify-content: center;
}

.liveStudentCard{
  // width: 150px;
  // height: 150px;
  background-color: transparent;
  border-color: transparent;
}

.card-title{
  color: #fff;
}