#blackhole {
  background-image: url(http://www.astronomy.com/-/media/Images/News%20and%20Observing/News/2019/07/image_4606e47TucanaeBlackHole.jpg?mw=600);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.BHTitle{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 75px;
}