#gunganCity {
  background-image: url(https://vignette.wikia.nocookie.net/starwars/images/7/7d/Otoh_Gunga.png/revision/latest?cb=20130118052452);
}

.cityTitle{
  color: #fff;
  padding: 10px;
}

.killBtn{
  margin-bottom: 20px;
}